body{
    margin: 0%;
    font-family: 'Lora', serif;
}
.container{
    max-width: 1400px;
    width: 100%;
 margin-right: auto;
 margin-left: auto;
}
.newspaper h1{
text-align: center;
color: #669d4d;
}
.newstochoose{
    display: flex;
    justify-content: space-around;
}
.indiahead{
    display: flex;

margin-top: 25px;
flex-wrap: wrap;
}
.ambani{
    width: calc(33.3% - 20px);
    margin: 10px;
}

#india, #international, #sports, #hp{
    cursor: pointer;
}
@media only screen and (max-width:992px)
{
    .newspaper, .newstochoose, .ambani, .meet, .train{
        width: 100%;
    }
}

.read i{transition: .4s;}
.read:hover i{
  transform: translateX(10px);
  transition: .4s;
cursor: pointer;
color: rgb(0, 255, 136);
}
.read:hover{
    color:  rgb(0, 255, 136);
    cursor: pointer;
}


@media only screen and (max-width:768px)
{
    .indiahead{
        flex-wrap: wrap;
        margin: 0px 20px 0px 20px;
    }

    .newstochoose{
        flex-wrap: wrap;
         gap: 20px;
    }

    .newstochoose h2{
        font-size: 18px;
        font-weight: 400;
    }

}

.newstochoose button{
    padding: 10px 40px;
  font-size: 18px;
  border: 1px solid #55c455;
  color: white;
  background-color: #55c455;
  border-radius: 100px;
}
